button[type='submit'] {
  display: none;
}

.tutorial_header {
  background-color: #fff;
  text-align: center;
  padding: 28px 0 10px 0;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

.tutorial_container {
  padding-top: 30px;
}

.tool_container {
  position: fixed;
  padding-top: 30px;
}
