body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h5.ui.header {
  font-size: 1.6rem;
}

.array-item .ui.grid .sixteen.wide.column {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.array-item:not(:first-child) .ui.grid {
  padding-top: 1.5rem;
}

.array-item h5.ui.header {
  font-size: 1.4rem;
}

.array-item .fields h5.ui.header,
.array-item .array-item h5.ui.header {
  font-size: 1.2rem;
}

.CodeMirror {
  font-family: Consolas, 'Courier New', Courier, monospace;
}
