body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
	margin: 2rem;
}

.ui.form {
	margin: 2rem 0;
}

.ui.dividing.header {
	font-size: 1.2rem;
}

.ui.form textarea {
	line-height: 1.5rem;
}

.ui.form .array-item {
	margin: 0 0 1rem;
	padding: 0 0 1rem;
	border-bottom: 1px dashed rgba(34,36,38,.15);
}

.ui.form .grouped.fields {
	margin-left: 0.5rem;
}