body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h5.ui.header {
  font-size: 1.6rem;
}

.array-item .fields h5.ui.header {
  font-size: 1.5rem !important;
}

.array-item .ui.grid .sixteen.wide.column {
  border-bottom: 1px dashed #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.array-item:not(:first-child) .ui.grid {
  padding-top: 1.5rem;
}

.array-item h5.ui.header {
  font-size: 1.4rem;
}

.array-item .fields h5.ui.header,
.array-item .array-item h5.ui.header {
  font-size: 1.2rem;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  padding-left: 2rem;
}

.ui.menu.fluid,
.ui.vertical.menu.fluid {
  max-height: calc(100vh - 160px);
  overflow: auto;
}

.ui.form .grouped.fields .field.inline,
.ui.form .grouped.inline.fields .field.inline {
  display: flex;
  align-items: center;
}

.ui.form .inline.field:not(.wide) .ui.input,
.ui.form .inline.fields .field:not(.wide) .ui.input {
  flex: 1;
}

.ui.form .inline.field > .selection.dropdown,
.ui.form .inline.fields .field > .selection.dropdown {
  flex: 1;
}

.ui.form .field.inline textarea {
  flex: 1;
}

.ui.form .inline.field > :first-child,
.ui.form .inline.fields .field > :first-child {
  width: 80px;
}

.ui.form .grouped.equal.width.fields span[id*='root_'][id$='Name'] {
  position: absolute;
  top: -2.5rem;
}

.ui.input > input,
textarea {
  font-family: IcoFont, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

/* Customed Semantic UI button */
.ui.purple.button,
.ui.purple.buttons .button {
  background-color: #864590;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.purple.button:hover,
.ui.purple.buttons .button:hover {
  background-color: #6d2d77;
  color: #fff;
  text-shadow: none;
}

.ui.purple.button:focus,
.ui.purple.buttons .button:focus {
  background-color: #864590;
  color: #fff;
  text-shadow: none;
}

.ui.yellow.button,
.ui.yellow.buttons .button {
  background-color: #fcbc40;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.yellow.button:hover,
.ui.yellow.buttons .button:hover {
  background-color: #e5a429;
  color: #fff;
  text-shadow: none;
}

.ui.yellow.button:focus,
.ui.yellow.buttons .button:focus {
  background-color: #fcbc40;
  color: #fff;
  text-shadow: none;
}

.ui.violet.button,
.ui.violet.buttons .button {
  background-color: #2366c2;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.violet.button:hover,
.ui.violet.buttons .button:hover {
  background-color: #0d3774;
  color: #fff;
  text-shadow: none;
}

.ui.violet.button:focus,
.ui.violet.buttons .button:focus {
  background-color: #2366c2;
  color: #fff;
  text-shadow: none;
}

.ui.orange.button,
.ui.orange.buttons .button {
  background-color: #f59249;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.orange.button:hover,
.ui.orange.buttons .button:hover {
  background-color: #da7a33;
  color: #fff;
  text-shadow: none;
}

.ui.orange.button:focus,
.ui.orange.buttons .button:focus {
  background-color: #f59249;
  color: #fff;
  text-shadow: none;
}

.ui.blue.button,
.ui.blue.buttons .button {
  background-color: #5e92f3;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.blue.button:hover,
.ui.blue.buttons .button:hover {
  background-color: #216bbf;
  color: #fff;
  text-shadow: none;
}

.ui.teal.button,
.ui.teal.buttons .button {
  background-color: #5bd0e6;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

.ui.teal.button:hover,
.ui.teal.buttons .button:hover {
  background-color: #dbb86e;
  color: #fff;
  text-shadow: none;
}
