.CodeMirror {
  height: 120px;
}

.CodeMirror-scroll {
  margin-right: 0px;
  margin-bottom: 0px;
  border: 1px solid #eee;
}

.CodeMirror-vscrollbar {
  display: none !important;
}

.CodeMirror-scroll {
  padding-bottom: 0;
}
